* {
    font-family: 'Paytone One', sans-serif;
}

.header-text {
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.full {
    width: 100%;
}

.add-ability-container {
    padding-bottom: 1em;
}

.button-text-shadow {
    color: #fff;
    text-shadow: 2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.page-header {
    font-size: 3.5em;
    margin: 0.5em 0 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.page-subheader {
    font-size: 1.5em;
    margin: 0.1em 0 0.2em;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

#content-root {
    padding: 0;
    margin: 0 0 48px 0;
}

.content-pane {
    margin-top: 1em;
}

.primary-button {
    display: block;
    width: 100%;
    margin: 1.5em 0;
}

.ability {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.ability input {
    flex: 1 100%;
}

#snackbar-root {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
    z-index: 1337;
    width: 100vw;
    visibility: hidden;
    transform: translate(0, 48px);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.snackbar-root-visible {
    visibility: visible !important;
    transform: translate(0, 0px) !important;
}

.snackbar-root-hidden {
    visibility: hidden !important;
    transform: translate(0, 48px) !important;
}

.snackbar {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0px 24px;
    height: 48px;
    line-height: 48px;
    border-radius: 0px;
    flex-grow: 1;
}

.snackbar-text {
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.snackbar-text-hidden {
    opacity: 0 !important;
    transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.snackbar-text-visible {
    opacity: 1 !important;
    transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

@media screen and (min-width: 480px) {
    #content-root {
        width: 480px;
        margin: 0 auto;
    }

    .snackbar {
        border-radius: 2px;
        max-width: 568px;
        min-width: 288px;
        width: auto;
        flex-grow: 0;
    }
}

/* Buttons */

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap;
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #eee;
    color: #555;
}

.button:active {
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active {
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

/* Smaller buttons styles */

.button.small {
    padding: 4px 12px;
}

/* Larger buttons styles */

.button.large {
    padding: 12px 30px;
    text-transform: uppercase;
}

.button.large:active {
    top: 2px;
}

/* Colored buttons styles */

.button.green, .button.red, .button.blue {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
}

/* */

.button.green {
    background-color: #57a957;
    border-color: #57a957;
}

.button.green:hover {
    background-color: #62c462;
}

.button.green:active {
    background: #57a957;
}

/* */

.button.red {
    background-color: #ca3535;
    border-color: #c43c35;
}

.button.red:hover {
    background-color: #ee5f5b;
}

.button.red:active {
    background: #c43c35;
}

/* */

.button.blue {
    background-color: #269CE9;
    border-color: #269CE9;
}

.button.blue:hover {
    background-color: #70B9E8;
}

.button.blue:active {
    background: #269CE9;
}

/* */

.green[disabled], .green[disabled]:hover, .green[disabled]:active {
    border-color: #57A957;
    background: #57A957;
    color: #D2FFD2;
}

.red[disabled], .red[disabled]:hover, .red[disabled]:active {
    border-color: #C43C35;
    background: #C43C35;
    color: #FFD3D3;
}

.blue[disabled], .blue[disabled]:hover, .blue[disabled]:active {
    border-color: #269CE9;
    background: #269CE9;
    color: #93D5FF;
}

/* Group buttons */

.button-group,
.button-group li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.button-group {
    font-size: 0; /* Inline block elements gap - fix */
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.button-group li {
    margin-right: -1px; /* Overlap each right button border */
}

.button-group .button {
    font-size: 13px; /* Set the font size, different from inherited 0 */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.button-group .button:active {
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:first-child .button {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active {
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active {
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}