.title {
    font-family: "Paytone One", sans-serif;
    color: #fff;
    text-shadow: 3px 3px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 28px;
    padding-bottom: 6px;
}
